* {
  text-align: center;
}

body {
  background-color: rgb(225,225,230);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-theme {
  margin: 10%;
}

h1 {
  margin: 10%;
  font-size: 3rem;
  color: black;
}

p {
  margin: 5%;
  font-size: 2rem;
  color: darkgrey;
}

